@font-face {
  font-family: "Rubik";
  src: url("../fonts/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.home {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 10%;

}

.home__content {
  text-align: center;
  margin-bottom: 3rem;
}

.home__content h2 {
  font-family: "Rubik";
  font-weight: 400;
  padding-top: 2%;
  width: 100%;
  line-height: 1.5;
  color: #f88400;
  margin: 0 auto 0.5rem auto;
  font-size: 3rem;
  word-break: break-word;
  text-shadow: 0 1px 0 #181924;
}

.home__content p {
  font-family: "Signika";
  font-weight: 400;
  text-align: center;
  text-decoration-line: overline;
  font-size: 2rem;
  color: #00ffcc;
  margin: 0 auto;
  width: 60%;
  min-width: 160px;
  max-width: 320px;
  padding-bottom: 20px;
}

/* Для мобильных устройств */
@media (max-width: 768px) {
  .home {
    padding: 3% 5%;
  }

  .home__content h2 {
    font-size: 2.5rem; /* Меньше для мобильных */
    width: 100%;
  }

  .home__content p {
    font-size: 1.5rem; /* Меньше для мобильных */
    width: 100%;
    max-width: none;
  }

  .card-bg {
    width: 100%;
    padding: 2rem 0;
    background: none;
  }
}

/* Для экранов меньше 480px */
